/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
}

.home-container {
  padding: 32px;
  background-image: url('https://images.shiksha.com/mediadata/images/articles/1589976996phpBuHIqI.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.home-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #2b6cb0;
  padding: 10px;
}

.nav-button {
  background-color: #f7fafc;
  border: none;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background-color: #ddd;
}
